<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activités</title>
    <link rel="stylesheet" th:href="@{/css/actvities.css}">
</head>
<body>
    <header>
        <h1>Activités</h1>
    </header>
    <main>
        <section>
            <h2>Catégories d'activités</h2>
            <ul>
                <!-- Boucle sur les catégories distinctes -->
                <li th:each="categorie : ${categories}">
                    <!-- Affichez la catégorie -->
                    <a th:href="@{'/activites/categorie/' + ${categorie.id}}"
                       th:text="${categorie.categorie}">Catégorie</a>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>