<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activités - [[${categorie}]]</title>
    <link rel="stylesheet" th:href="@{/css/activites-par-categorie.css}">
</head>
<body>
    <header>
        <h1>Activités - [[${categorie}]]</h1>
    </header>
    <main>
        <section>
            <h2>Liste des activités</h2>
            <ul>
                <li th:each="activite : ${activites}">
                    <div th:text="${activite.nom}">Nom de l'activité</div>
                    <div th:text="${activite.description}">Description de l'activité</div>
                    <a th:href="@{'/en-savoir-plus/' + ${activite.id}}">Voir plus</a>
                    <p></p>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>