<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
    <header>
        <h1>Something went wrong</h1>
    </header>
    <main>
        <p>Status: <span th:text="${status}"></span></p>
        <p>Error: <span th:text="${error}"></span></p>
        <p>Message: <span th:text="${message}"></span></p>
        <p>Path: <span th:text="${path}"></span></p>
        <p>Timestamp: <span th:text="${timestamp}"></span></p>
        <a th:href="@{/}">Return to Homepage</a>
    </main>
    <footer class="footer">
        <div class="bubbles">
            <!-- Les bulles seront générées dynamiquement par le CSS -->
        </div>
        <div class="content">
            <p>&copy; 2025 Application d'accompagnement d'activités physiques</p>
        </div>
    </footer>
</body>
</html>
