<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Accompagnement d'activités physiques</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="container">
        <nav>
            <img src="/img/logo.png" class="logo" alt="" />
            <ul>
                <li><a th:href="@{/index}">Accueil</a></li>
                <li><a th:href="@{/activities}">Activités</a></li>
                <li><a th:href="@{/recommendations}">Recommandations</a></li>
                <li><a th:href="@{/my_profile}">Mon Profil</a></li>
                <li>
                    <div sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}">Login</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit">Déconnexion</button>
                        </form>
                    </div>
                </li>                
            </ul>
        </nav>   
        <div class="site-container">
            <p>Les meilleurs programmes !</p>
            <h1>SPORTAREA</h1>
            <h4>UN BON PROGRAMME POUR UNE BONNE SANTE</h4>
        </div> 
    </div>
    <main>
        
    </main>
    <footer class="footer">
        <div class="bubbles">
            <!-- Les bulles seront générées dynamiquement par le CSS -->
        </div>
        <div class="content">
            <p>&copy; 2025 Application d'accompagnement d'activités physiques</p>
        </div>
    </footer>
</body>
</html>
 