<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion...</title>
    <link rel="stylesheet" th:href="@{/css/login_register.css}">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <div class="form-container">
                <h2>Connexion</h2>
                <form th:action="@{/login}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                    <button type="submit">Login</button>
                </form>
                
                <div class="register-forget">
                    <span class="opacity">Pas de compte ?</span>
                    <a th:href="@{/register}">Cliquez ici.</a>
                </div>

                <p th:if="${param.error}" class="error">Nom d'utilisateur ou mot de passe incorrect.</p>
                <p th:if="${param.logout}" class="success">Vous avez été déconnecté.</p>
            </div>
        </div>

        <!-- Cercles décoratifs -->
        <div class="circle circle-one"></div>
        <div class="circle circle-two"></div>
    </div>
</body>
</html>